/*-- scss:defaults --*/

// Colours
$gray-700: #495057 !default;
$primary: #231e1a !default;
$link-color:   #5da366 !default;
// $sidebar-bg: #E9E9E9 !default;

// Fonts
@font-face {
  font-family: 'Anivers';
  src: url("assets/Anivers_CCWJ.ttf");
}

@font-face {
  font-family: 'Good Times';
  src: url("assets/GoodTimes_CCWJ.ttf");
}

h1 {
  font-family: 'Good Times';
  font-weight: 550 !important;
  color:$gray-700 !important;
}

h2, h3, h4, h5, h6 {
  // font-family: 'Anivers';
  margin-top: 1rem;
}

// Navbar
.navbar {
  background-image: url("assets/background-bar.png");
  font-size: 1.2rem;
  // font-family: 'Anivers';
}

.navbar-brand > img {
  max-height: 66px;
}

.quarto-navbar-tools {
  height: 30px !important;
}

// left sidebar item appearance
/*
.list-group-item {
  font-family: 'Anivers';
}
*/


.sidebar-item-text {
  line-height: 20px;
  // font-family: 'Anivers';
  font-size: 16px;
}

// listing appearances
// articles
.no-anchor.listing-title {
  font-family: "system-ui";
  font-weight: 500;
  font-family: "system-ui";
}

.listing-pub-author {
  font-size: 0.9rem;
}

.listing-pub-journ {
  font-size: 0.9rem;
}

.listing-pub-url {
  font-size: 0.9rem;
}
