/*-- scss:defaults --*/

// Colours
$gray-700: #495057 !default;
$primary: #231e1a !default;
$link-color: #4A9152FF !default;
$footer-bg: #F8F8F8FF !default;
$toc-color: #495057 !default;

#quarto-back-to-top {
  bottom: 110px !important;
}

// Fonts
@font-face {
  font-family: 'Anivers';
  src: url("assets/Anivers_CCWJ.ttf");
}

@font-face {
  font-family: 'Good Times';
  src: url("assets/GoodTimes_CCWJ.ttf");
}

$font-family-sans-serif: "Roboto", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

h1 {
  color: #464849 !important;
  // font-family: 'Anivers' !important;
}

h2, h3, h4, h5, h6 {
  color: #464849 !important;
  // font-family: 'Anivers' !important;
}

// navbar customization
.navbar {
  background-image: url("assets/background-bar.png");
  font-size: 1.0rem;
}

#quarto-margin-sidebar {
  position: sticky;
  color: #464849;
}

#quarto-margin-sidebar > div > div.category {
  border-style: solid;
  border-radius: 0.8ch;
  border-color: #d9dcdf;
  padding: 1%;
  margin-bottom: 4%;
  font-size: small;
  font-variant: small-caps;
  color: #6F757D
}

#quarto-margin-sidebar > div > div.category.active {
  background-color: #d9dcdf;
}

.navbar-brand > img {
  max-height: 55px;
}

.quarto-navbar-tools {
  height: 30px !important;
}

.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #d9dcdf;
}

// aligns default listing photos and titles
div.quarto-post {
  margin-bottom: 0em !important;
}

div.quarto-post .thumbnail img {
  margin-top: 0px !important;
}

div.quarto-post .body h3.listing-title, div.quarto-post .body .listing-title.h3 {
  margin-top: 10px !important;
}

// publication listing appearances
.no-anchor.listing-title {
  font-weight: 550;
}

.listing-pub-author {
  font-size: 0.9rem;
}

.listing-pub-journ {
  font-size: 0.9rem;
}

.listing-pub-url {
  font-size: 0.9rem;
}

// custom divs
.highlight-row {
  background-color: #d9e5dc;
  color: #000000;
  font-weight: 450;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.3em;
}

.box {
  height: 80px;
  width: 300px;
  background-color: #477166b3;
  color: #d9e5dc;
  padding: 10px;
  margin: 10px;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  border-radius: 0.3em;
}

.three-cells {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}