/*-- scss:defaults --*/
$white:         #FFFFFF;
$nurse-white:   #F8F8F8FF;
$nurse-gray:    #d9dcdf;
$ccwj-metal:    #2E2925;
$ccwj-green:    #283237;
$primary:       #231e1a;

// Fonts
@font-face {
  font-family: 'Anivers';
  src: url("assets/Anivers_CCWJ.ttf");
}

@font-face {
  font-family: 'Good Times';
  src: url("assets/GoodTimes_CCWJ.ttf");
}

$font-family-sans-serif: "Roboto", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// title block banner
#title-block-header {
  background-blend-mode: hard-light;
  min-height: 250px !important;
  margin-block-end: -40px !important;
}

#title-block-header > div.quarto-title-banner.page-columns.page-full h1 {
  color: $nurse-white !important;
  font-size: 28pt !important;
  text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Horizontal offset, vertical offset, blur radius, shadow color */
  text-align: center;
  transform: translateY(15px);
}

// titles
.quarto-title {
  font-family: 'Anivers' !important;
}

// navbar appearance
.navbar {
  font-size: 1.15rem;
  font-weight: 450;
  background: linear-gradient(to right, $ccwj-metal, $ccwj-green);
  font-family: 'Anivers' !important;
}

.dropdown-item {
  font-family: $font-family-sans-serif !important;
}

.navbar-brand > img {
  max-height: 65px;
}

i.bi.bi-linkedin {
  padding-left: 0.5em;
  color: $nurse-white;
}

.bi-house-door-fill {
  color: $nurse-white;
}

.bi-youtube {
  color: $nurse-white;
}

.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
color: $nurse-white !important;
}

// align default listing photos and titles
div.quarto-post {
  margin-bottom: 0em !important;
}

div.quarto-post .thumbnail img {
  margin-top: 0px !important;
}

div.quarto-post .body h3.listing-title, div.quarto-post .body .listing-title.h3 {
  margin-top: 10px !important;
}

// publication listing appearances
.no-anchor.listing-title {
  font-weight: 550;
}

.listing-pub-author {
  font-size: 0.9rem;
}

.listing-pub-journ {
  font-size: 0.9rem;
}

.listing-pub-url {
  font-size: 0.9rem;
}

// Proximity of back to top button to page base
#quarto-back-to-top {
  bottom: 110px !important;
}
