/*-- scss:defaults --*/
$ccwj-metal:    #2E2925;
$nurse-white:   #F8F8F8FF;
$nurse-gray:    #d9dcdf;
$blue:          #DAD9DCFF;
$dark-gray:     #3b3b3b;

// Defaults
$primary:       #231e1a;
$link-color:    rgb(184, 209, 171);
$footer-bg:     $ccwj-metal;

h1 {
  font-family: 'Good Times' !important;
  color: $nurse-white !important;
}

h2, h3, h4, h5, h6 {
  color: $nurse-gray !important;
  font-family: 'Anivers' !important;
}

// Navbar menu text
.menu-text {
  color: $nurse-white !important;
}

.dropdown-toggle {
  color: $nurse-white !important;
}

.dropdown-menu > li > a:hover {
  background-image: none;
  background-color: $ccwj-metal;
}

// changes the category appearance
#quarto-margin-sidebar {
  position: sticky;
  // color: $charcoal;
}

#quarto-margin-sidebar > div > div.category {
  border-style: solid;
  border-radius: 0.8ch;
  border-width: 1px;
  border-color: $nurse-gray;
  padding: 1%;
  padding-left: 0.5em;
  margin-bottom: 4%;
  font-size: 11pt;
  font-variant: small-caps;
  color: $nurse-white;
}

.quarto-grid-item .listing-categories .listing-category {
  border-color: $nurse-gray !important;
  color: $nurse-white !important;
}

#quarto-margin-sidebar > div > div.category.active {
  color: $nurse-white;
}

.quarto-navbar-tools {
  height: 30px !important;
}

// custom divs
.highlight-row {
  background-color: $ccwj-metal;
  color: $nurse-gray;
  font-weight: 450;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0.5em;
  border-radius: 0.3em;
  border-color: $dark-gray;
  border-style: solid;
  border-width: 0.1em;
  text-shadow: 1px 1px 8x rgba(0, 0, 0, 0.5);
}

.highlight-row-gray {
  background-color: $nurse-white;
  font-weight: 450;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0.5em;
  border-radius: 0.3em;
  border-color: $nurse-gray;
  border-style: solid;
  border-width: 0.1em;
  text-shadow: 1px 1px 8x rgba(0, 0, 0, 0.5);
}

.accomplishment {
  min-height: 250px;
  background-color: $blue;
  font-weight: 450;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0.5em;
  border-radius: 0.3em;
  border-color: $nurse-gray;
  border-style: solid;
  border-width: 0.1em;
  text-shadow: 1px 1px 8x rgba(0, 0, 0, 0.5);
}
