/*-- scss:defaults --*/
$dark-cucumber: #4D6E4B;
$charcoal:      #464849;
$mint:          #d9e5dc;
$nurse-gray:    #d9dcdf;
$nurse-white:   #F8F8F8FF;
$blue:          #DAD9DCFF;
$pond-water:    #477166b3;
$heavy-metal:   #343534;
$footer-bg:     $nurse-white;
$link-color:    #4A9152FF;
$font-family-sans-serif: "Roboto", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

h1 {
  font-family: 'Good Times' !important;
  color: $dark-cucumber !important;
}

h2, h3, h4, h5, h6 {
  color: $charcoal !important;
  font-family: 'Anivers' !important;
}

// Navbar menu text
.menu-text {
  color: $nurse-white !important;
}

.dropdown-toggle {
  color: $nurse-white !important;
}

.dropdown-menu > li > a:hover {
  background-image: none;
  background-color: $nurse-gray;
}

// changes the category menu appearance
#quarto-margin-sidebar {
  position: sticky;
  color: $charcoal;
}

#quarto-margin-sidebar > div > div.category {
  border-style: solid;
  border-radius: 0.8ch;
  border-width: 1px;
  border-color: $nurse-gray;
  padding: 1%;
  padding-left: 0.5em;
  margin-bottom: 4%;
  font-size: 11pt;
  font-variant-caps: all-small-caps;
  color: $heavy-metal;
}

.quarto-grid-item .listing-categories .listing-category {
  border-color: $nurse-gray !important;
  color: $heavy-metal !important;
}

#quarto-margin-sidebar > div > div.category.active {
  background-color: $dark-cucumber;
  color: $nurse-white;
  font-size: 11pt;
  font-variant-caps: all-small-caps;
  font-weight: 400;
}

.quarto-navbar-tools {
  height: 30px !important;
}

.page-link.disabled, .disabled>.page-link {
  background-color: #4D6E4B !important;
}

// Changes the listing grid title font
#listing-equipment > div.list.grid.quarto-listing-cols-3 > div > a > div > div > h5 {
  // font-family: $font-family-sans-serif !important;
  // font-size: medium;
}

// custom divs
.highlight-row {
  background-color: $mint;
  font-weight: 450;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0.5em;
  border-radius: 0.3em;
  border-color: $nurse-gray;
  border-style: solid;
  border-width: 0.1em;
  text-shadow: 1px 1px 8x rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.highlight-row-gray {
  background-color: $nurse-white;
  font-weight: 450;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0.5em;
  border-radius: 0.3em;
  border-color: $nurse-gray;
  border-style: solid;
  border-width: 0.1em;
  text-shadow: 1px 1px 8x rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

// publication value boxes
.box {
  height: 80px;
  min-width: 200px;
  background-color: $pond-water;
  color: $mint;
  padding: 10px;
  margin: 10px;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  border-radius: 0.3em;
  border-color: $nurse-gray;
  border-style: solid;
  border-width: 0.1em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
