/* Global appearance */
@font-face {
  font-family: 'Anivers';
  src: url("assets/Anivers_CCWJ.ttf");
}

@font-face {
  font-family: 'Good Times';
  src: url("assets/GoodTimes_CCWJ.ttf");
}

a {
  color: #486f48; /* color of links*/
  text-decoration: none;
}

a:hover {
  color: #486f48; /* color of links*/
  text-decoration: underline;
}

h1,h2, .font-goodtimes {
  font-family: 'Good Times';
}

h3,h4,h5,h6, .font-anivers {
  font-family: 'Anivers';
  margin-top: 1rem;
}

/* Narbar appearance */
.navbar {
  background-image: url("assets/background_bar.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 1255px 90px; /*1506 by 108 original image */
  background-color:#231e1a;
  font-family: 'Anivers';
  font-size: 1.1rem;
}

.navbar-brand > img {
  max-height: 56px;
}

/* Sidebar appearance
.sidebar, .footer {
  background-color: #e9e9e9;
  border-color: #d5d5d5 !important;
}
*/

/* left sidebar item appearance */
.list-group-item{
  background-color: #e9e9e9;
  font-family: 'Anivers';
}

.list-group-item:hover{
  background-color:#e1e2e2;
}

.subheading {
  font-family: 'Good Times';
}
